@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    overflow-x: hidden;
  }
  ul > li > .m-md-ul {
    margin-bottom: 0px;
  }
  .m-md-ul {
    margin-bottom: 0.75rem;
  }
  .about-sec-cntr {
    content: counter(section) '. ';
  }
  .about-subsec-cntr {
    content: counter(section) '.' counter(subsection) '. ';
  }
  .about-list-cntr {
    content: counter(section) '.' counter(subsection) '.' counter(list) '. ';
  }
}
